/*common.css*/
@font-face {
    font-family: '모리스9';
    src: url('/src/assets/fonts/모리스9.ttf'),
        url('/src/assets/fonts/모리스9.eot'),
        url('/src/assets/fonts/모리스9.woff');
}

@font-face {
    font-family: 'Pixel';
    src: url('/src/assets/fonts/Pixel.ttf'),
        url('/src/assets/fonts/Pixel.eot'),
        url('/src/assets/fonts/Pixel.woff'),
}

body {
    font-family: '모리스9';
}

.navWrap {
    font-family: 'Pixel';
}

footer {
    font-family: '모리스9';
}

.ftr {
    font-family: '모리스9';
}

.hdrWrap {
    font-family: '';
}

.mnWrap {
    font-family: '';
}

main {
    font-family: '';
}

div.content>header {
    text-align: center;
    color: #000;
}

div.content>header>h2 {
    line-height: 80px;
    font-size: 36px;
}

div.content>header>p {
    line-height: 40px;
    font-size: 14px;
}

div.content>section {
    width: 1080px;
    margin: 80px auto 0;
}

*.fl {
    float: left;
}

*.fr {
    float: right;
}



body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hdrWrap {
    width: 100%;
    height: 53px;
}

.hdrWrap>header {}

.hdrWrap>header>ul {
    overflow: hidden;
    display: flex;
    /* position: relative; */
    width: 95%;
    margin: 0 auto;
    /* display: flex; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.hdrWrap>header>ul>li>div {
    /* margin: 13px 5px 0; */
    cursor: pointer;
}

.hdrWrap>header>ul>.menu {
    /* float: left; */
    flex: 1;
}

.hdrWrap>header>ul>.menu>.icon {
    background-image: url('/src/assets/img/header/icon_09.png');
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
}

.hdrWrap>header>ul>.home {
    /* position: absolute; */
    /* margin: 18px auto 0; */
    /* left: 0; */
    /* right: 0; */
    width: 76px;
    height: 34px;
    /* justify-content: center; */
    /* align-items: center; */
    flex: 21;
}

.hdrWrap>header>ul>.home>.icon {
    background-image: url('/src/assets/img/header/icon_06.png');
    width: 76px;
    height: 34px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hdrWrap>header>ul>.mail {
    /* float: right; */
    /* margin-top: 11px; */
    flex: 1;
}

.hdrWrap>header>ul>.mail>.icon {
    background-image: url('/src/assets/img/header/icon_03.png');
    width: 34px;
    height: 23px;
    background-position: center;
    background-size: cover;
}

.hdrWrap>header>ul>.mail2 {
    float: right;
}

.hdrWrap>header>ul>.mail2>a>.icon {
    margin-top: 14px;
    margin-right: 15px;
    background-image: url('/src/assets/img/header/images/mail_03.png');
    width: 69px;
    height: 47px;
    background-position: center;
    background-size: cover;
}

.navWrap {
    z-index: 1;
    width: 280px;
    height: calc(100vh - 54px);
    background-color: #bc849c;
    position: absolute;
    /* display: block; */
    margin-left: -380px;
    transition: 0.2s;
}

.navWrap.show {
    margin-left: 0px;
}

.navWrap>.nav {
    margin-left: 7%;
    margin-top: 7px;
}

.navWrap>.nav>li {
    font-weight: bold;
    color: white;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.navWrap>.ftr {
    position: absolute;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #121212;
    z-index: 10;
}

.navWrap>.ftr>ul {}

.navWrap>.ftr>ul>li {
    color: white;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
}